<div class="card text-capitalize text-dark text-center" style="width: 18rem;" *ngFor="let pokemon of pokemons">
    <a class="text-dark" style="text-decoration:none" routerLink="../pokemon/{{pokemon.name}}">
        <img src={{pokemon.front_default}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                {{pokemon.name}}
                <a class="text-dark" style="text-decoration:none">
                    <p class="card-text">#{{pokemon.id}}</p>
                </a>
            </h5>
        </div>
    </a>
</div>