<div class="card text-capitalize text-dark" style="width: 18rem;">
    <img src={{pokeSingle.sprites.front_default}} class="card-img-top bg-primary" alt="...">
    <div class="card-body text-capitalize">
        <h5 class="text-dark">{{pokeSingle.name}}</h5>
        <p class="card-text">#{{pokeId}}</p>
        <p class="card-text">Type: {{pokeType2}}</p>
        <p class="card-text">Height: {{pokeSingle.height}}m</p>
        <p class="card-text">Weight: {{pokeSingle.weight}}kg</p>
        <p class="card-text">Abilities: {{pokeAbilities}}</p>
        <p class="card-text">Base Experience: {{pokeSingle.base_experience}}</p>

        <div class="dropdown navbar">
            <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Move 1
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li *ngFor="let pokeMove of pokeMoves"><a class="dropdown-item" href="#">{{pokeMove}}</a></li>
            </ul> -->
            <div class="dx-field">
                <div class="dx-field-label">Search mode</div>
                <div class="dx-field-value">
                    <dx-tag-box [items]="simpleProducts" [searchEnabled]="true">
                    </dx-tag-box>
                </div>
            </div> 
        </div>
    </div>
</div>

<div class="buttons-column">
    <div class="column-header"> Success </div>
    <div>
        <dx-button stylingMode="contained" text="Contained" type="success" [width]="120" (onClick)="click($event)">
        </dx-button>
    </div>
    <div>
        <dx-button stylingMode="outlined" text="Outlined" type="success" [width]="120" (onClick)="click($event)">
        </dx-button>
    </div>
    <div>
        <dx-button stylingMode="text" text="Text" type="success" [width]="120" (onClick)="click($event)">
        </dx-button>
    </div>
</div>
<!-- <a routerLink="../../../pageone">Lets go to pageone component</a> -->
<!-- The piece of code above is taken from the pokemon.component.ts file and the poke.service.ts file to get the certain pokemon (Charizards) pokedex entry number which in this instance is 6 -->