<style> 
    .pokemon-background {
        background-color: white;
    }
</style>
<div class="card text-capitalize text-dark" style="width: 18rem;">
    <img src={{pokeSingle.sprites.front_default}} class="card-img-top pokemon-background" >
    <!-- [ngStyle]="applyStyles()"> -->
    <div class="card-body text-capitalize">
        <h5 class="text-dark">{{pokeSingle.name}}</h5>
        <p class="card-text">#{{pokeId}}</p>
        <p class="card-text">Type: {{pokeType2}}</p>
        <p class="card-text">Height: {{pokeSingle.height}}m</p>
        <p class="card-text">Weight: {{pokeSingle.weight}}kg</p>
        <p class="card-text">Abilities: {{pokeAbilities}}</p>
        <p class="card-text">Base Experience: {{pokeSingle.base_experience}}</p>

        <div class="dx-field">
            <div class="dx-field-label">Move Set</div>
            <div class="dx-field-value">
                <dx-tag-box id="tagBoxContainer" [dataSource]=pokeMoves (onValueChanged)="onValueChanged($event)"
                    [items]=pokeMoves [searchEnabled]="true">
                </dx-tag-box>
                <dx-tooltip target="#tagBoxContainer" position="bottom" [hideEvent]="{ name: 'mouseout', delay: 2000 }"
                    [(visible)]="isVisibleMore">
                    <div *dxTemplate="let data of 'content'">
                        <p>Limit reached</p>
                    </div>
                </dx-tooltip>
            </div>
        </div>
    </div>
</div>

<!-- <div class="buttons-column">
    <div class="column-header"> Success </div>
    <div>
        <dx-button stylingMode="contained" text="Contained" type="success" [width]="120" (onClick)="click($event)">
        </dx-button>
    </div>
    <div>
        <dx-button stylingMode="outlined" text="Outlined" type="success" [width]="120" (onClick)="click($event)">
        </dx-button>
    </div>
    <div>
        <dx-button stylingMode="text" text="Text" type="success" [width]="120" (onClick)="click($event)">
        </dx-button>
    </div>
</div> -->
<!-- <a routerLink="../../../pageone">Lets go to pageone component</a> -->
<!-- The piece of code above is taken from the pokemon.component.ts file and the poke.service.ts file to get the certain pokemon (Charizards) pokedex entry number which in this instance is 6 -->