<div class="card text-capitalize text-dark text-center" style="width: 18rem;" *ngFor="let poketrainer of PokeTrainers">
      <a class="text-dark" style="text-decoration:none" routerLink="../poketrainer/{{poketrainer.Id}}">
            <div class="card-body">
                  <h5 class="card-title"> 
                        {{poketrainer.TrainerName}}
                  </h5>
                  <a class="text-dark" style="text-decoration:none">
                        <p class="card-text">Trainer id: {{poketrainer.Id}}</p>
                  </a>
            </div>
      </a>
</div>